body 
{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.nav-link:hover
{
    color: #b76e79;
    cursor:pointer;
}

.nav-lin active
{
    color: #b76e79;
}

.btn-primary
{
    background-color: #b76e79;
    border: none;
}

.btn-primary:hover
{
    transform: translateY(-0.5px);
    box-shadow: 0px 8px 16px rgba(186, 85, 211, 0.2); 
    background:#a4636c;
    position: relative;
    transition: top 0.5s ease;
    top:-0.2vh;
}

footer .list-unstyled li
{
    margin-left: 15px;

}

.mr-3
{
    height: 22px;
    transition: transform 0.3s ease-in-out;
}

.mr-3:hover
{
    transform: scale(1.5); /*aumenta o tamanho do ícone */
}

.mr-3
{
    display: inline-block;
}

/* Efeito de hover nas imagens */
article img
{
    transition: transform 0.3s ease-in-out;
}

article img:hover
{
    transform: scale(1.1);
}

/* Estilo para o texto descritivo */
article h3
{
    color: #333;
    margin-top: 0.5em;
}

article p
{
    color: #666;
    text-align: justify;
    line-height: 1.8;
}

.col-md-6 p
{
    text-align: justify;
    line-height: 1.8; /* Ajuste o valor conforme necessário */
}

.card
{
    margin-bottom: 20px;
}
  
.card:hover img 
{
    transform: translateY(-10px);
    cursor:pointer;
}

.card img
{
    transition: transform 0.3s ease-in-out;
}